@media (max-width: 767px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        padding: 10px 100%;
        margin: 0px 4px; 
        font-size: 10px;
    }

    header {
        margin: 10px 20px;
    }

    header h1 {
        font-size: 30px;
    }

    .index {
        margin: 10px 50px;
    }

    .index a {
    margin: 4px 4px;
    padding: 4px 20px;
    font-size: 10px;
    }

    .login-margin {
    padding: 50px 100px;
}
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background: linear-gradient(to right, rgb(111, 205, 255), rgb(0, 166, 255));
    overflow: hidden;
    padding: 0px 30px;
    display: flex;
    justify-content: center;
}
nav p {
    color: white;
    font-size: 18px;
    margin: 10px 20px;
    padding: 10px 20px;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 10px 4px;
    padding: 10px 20px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: rgb(98, 197, 251);
    border-radius: 25px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

nav a.active {
    background-color: rgb(98, 197, 251);
    border-radius: 25px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

body {
  background-image: url("images/cleanup1.jpg");
}


header {
    margin: 20px 60px;
    padding: 10px 10px;
    overflow-wrap: break-word; 
    text-align: center; 
    max-width: 100%; 
}

header h1 {
    font-family: sans-serif; 
    font-weight: bold;
    font-size: 80px;
    word-wrap: break-word;
    transition: transform 0.4s ease;
}

header h1:hover {
    transform: translateX(10px);
}

header p {
    transition: transform 0.4s ease;
}

header h2 {
    transition: transform 0.4s ease;
}

header h2:hover {
    transform: translateX(10px);
}

header p:hover {
    transform: translateX(10px);
}

.index {
    margin: 20px 200px;
    border-radius: 18px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    opacity: 0;
    text-align: center;
    transform: translateX(-50px);
    animation: fadeIn 1.0s ease forwards;
}

@keyframes fadeIn {
    from { opacity: 0; 
           transform: translateX(-50px); }
    to { opacity: 1; 
         transform: translateX(0); }
}

.index a {
    text-decoration: none;
    color: black;
    margin: 10px 4px;
    padding: 10px 40px;
    font-size: 18px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.index a:hover {
    background-color: rgb(86, 210, 255);
    color: rgb(255, 255, 255);
    transform: translateY(5px);
}

.index p {
    font-size: 25px;
}

.header p {
    text-align: justify;
}

.index form {
    display: flex;
    flex-direction: column;
}

.index label {
    font-weight: bold;
    margin-bottom: 6px;
    color: #333;
}


.index input[type="text"],
.index input[type="number"],
.index input[type="datetime-local"],
.index input[type="file"],
.index textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
}


.index input:focus,
.index textarea:focus {
    border-color: #3BAFDA;
    outline: none;
    box-shadow: 0 0 5px rgba(59, 175, 218, 0.5);
}


.index button {
    background-color: #3BAFDA;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.margin {
    padding: 10px 150px;
}
.index button:hover {
    background-color: #2D9CDB;
}

.login {
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, rgb(98, 197, 251), rgb(39, 179, 254));
}

.login-margin {
    padding: 100px 400px;
}

.margin-event {
    padding: 50px;
}



.margin-event {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.event-card {
    display: flex;
    justify-content: space-between;
    width: 90%;
    background: #e5e5e5;
    color: rgb(61, 61, 61); 
    border-radius: 15px;
    padding: 20px;
    position: relative;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.delete-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 22px;
    color: red;
    cursor: pointer;
    transition: 0.3s;
}

.delete-btn:hover { transform: scale(1.2); }

.event-main {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.event-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.event-actions button {
    margin: 5px;
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.join-btn {
    background: #3db13d;
    color: white;
}
.join-btn.disabled {
    background: gray;
    cursor: not-allowed;
}
.leave-btn {
    background: #d83b3b;
    color: white;
}
.clear-btn {
    background: #e3b437;
    color: black;
}


.event-status {
    margin-top: 10px;
    font-weight: bold;
}

.status-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 5px;
    background: #e0e0e0;
    border-radius: 10px;
    padding: 4px;
}

.status {
    flex: 1;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    background: #a0a0a0;
    color: white;
    margin: 0 4px;
    font-weight: bold;
}

.status.pending.active {
    background: orange;
}

.status.in-progress.active {
    background: gold;
    color: black;
}

.status.resolved.active {
    background: #4CAF50;
}

.event-details {
    width: 60%;
    background: #f5f5f5;
    border-radius: 10px;
    padding: 15px;
}

hr {
    border: 0;
    border-top: 1px solid #bbb;
}







.event-card .delete-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 22px;
    color: red;
    cursor: pointer;
    background: none;      
    border: none;         
    padding: 0;           
    transition: transform 0.3s;
}

.event-card .delete-btn:hover { 
    transform: scale(1.2); 
}


.event-card .event-actions form button {
    all: unset;              
    display: inline-block;
    padding: 8px 15px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.event-card .event-actions .join-btn {
    background: #3db13d;
    color: white;
}

.event-card .event-actions .leave-btn {
    background: #d83b3b;
    color: white;
}

.event-card .event-actions .clear-btn {
    background: #e3b437;
    color: black;
}



.refresh-btn {
    background: #3BAFDA;
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.refresh-btn:hover {
    background: #2D9CDB;
    transform: translateY(-2px);
}


.resolved-actions {
    margin-top: 10px;
    text-align: center;
}

.submit-btn {
    background: #3db13d;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.submit-btn:hover {
    background: #2a932a;
    transform: translateY(-2px);
}

.event-card .event-actions .edit-btn,
.event-card .event-actions .submit-btn {
    background: #1785d8;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.event-list {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 20px;             
    margin-top: 30px;
    width: 100%;
}

.event-list .event-card p {
    margin: 5px;
    font-size: 15px; 
    line-height: 1.4;
}

.event-list .event-card {
    margin: 0px 10px;
    
}

.event-card h3 {
    font-size: 20px;
    color: #2b2b2b;
}

.event-list .status-text {
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 8px;
    display: inline-block;
    color: white;
}

.event-list .status-pending {
    background-color: orange;
}

.event-list .status-in-progress {
    background-color: gold;
    color: black;
}

.event-list .status-resolved {
    background-color: #4CAF50;
}

.event-list .status-terminated {
    background-color: gray;
}


.community-create {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f2f2f2;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin-bottom: 40px;
}

.create-left {
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.create-left h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.create-btn {
    background: #3db13d;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 30px;
    cursor: pointer;
}

.create-form .form-row {
    display: flex;
    align-items: center;
    gap: 20px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.create-form .form-col {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.create-form label {
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
}

.create-form input[type="file"],
.create-form input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

.create-form input:focus {
    border-color: #3db13d;
    outline: none;
}

.community-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.community-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
    padding: 15px;
    gap: 20px;
    position: relative;
}

.card-left {
    flex: 0 0 150px; 
}

.card-left img {
    width: 250px;
    max-height: 250px;
    object-fit: cover; 
    border-radius: 10px;
}

.card-right {
    flex: 1;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 80px;
}

.card-info {
    margin-top: 10px;
    font-size: 12px;
    color: #777;
}

.card-actions {
    position: absolute;
    top: 10px;
    right: 10px;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 6px;
    z-index: 10;
}
