<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Community</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}" class="home">Home</a>
        <a href="{{ url_for('event') }}" class="event">Events</a>
        <a href="{{ url_for('report') }}" class="report">Report</a>
        <a href="{{ url_for('dashboard') }}" class="dashboard">Dashboard</a>
        <a href="{{ url_for('community') }}" class="community active">Community</a>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Hello, World!</h1>
</body>
</html>