<!--index.html-->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="index">
    <div class="content">
        <div class="left-content">
            <header class="header1">
                <h1 class="title">WATER CLEANUP MOVEMENT</h1>
                <p>
                    Help protect our rivers, lakes, and oceans by joining cleanup drives and reporting polluted areas.
                    Together, we can make our waters clean and safe for everyone.
                </p>
            </header>
            <div class="button-inline">
                <a href="{{ url_for('event') }}"><i class="fa-solid fa-handshake" style="align-items: center;"></i> Join Now!</a>
                <a href="{{ url_for('dashboard') }}">Go to Dashborad</a>
            </div>
        </div> 

        <div class="right-content my-bg" 
            style="background-image: url('{{ url_for("static", filename="uploads/background-project.jpg") }}');">
        </div>


    </div>

    
</div>
{% endblock %}
