<!--report.html-->
{% extends "base.html" %}

{% block title %}Report{% endblock %}

{% block content %}
<div class="report-content">
    <form method="POST" enctype="multipart/form-data" class="form-content">
        {{ form.hidden_tag() }}

        {% if success %}
            <p style="color: green;">{{ success }}</p>
        {% endif %}
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}

        <div class="width-textbox">
            <div class="flex">
                <label for="event_name">Event Name</label><br>
                {{ form.event_name(class="form-control", id="event_name", placeholder="Enter event name") }}
            </div>

            <div class="flex">
                <label for="location">Location</label><br>
                {{ form.location(class="form-control", id="location", placeholder="Enter location") }}
            </div>
        </div>

        <div class="flex">
            <label for="description">Description</label><br>
            {{ form.description(class="form-control", id="description", rows="4", cols="40", placeholder="Enter description") }}
        </div>

        <div class="flex-main">
            <div class="flex">
                <label for="datetime">Date &amp; Time</label><br>
                {{ form.datetime(class="form-control", id="datetime", min=min_date) }}
            </div>

            <div class="flex">
                <label for="participants">Max Participants</label><br>
                {{ form.participants(class="form-control", id="participants", min="1", max="50") }}
            </div>
        </div>

        <div class="flex">
            <label for="image">Image</label><br>
            {{ form.image(class="form-control", id="image", accept="image/*") }}
        </div>

        <div>
            {{ form.submit(class="submit") }}
        </div>
    </form>
</div>
{% endblock %}
